body {
  padding: 20px;
  font: 14px "Bookman", Times, serif;
  color: black;
  background-color: rgb(148, 124, 93);
}

.jumbotron {
  background-image: url(../images/thomas-kelley-128626-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: whitesmoke;
}

.btn-primary {
  color: whitesmoke !important;
  background-color: rgba(0, 0, 0, 0.589) !important;
  border-color: rgba(0, 0, 0, 0.589) !important;
  border-radius: 8px;
}


#newBook {
  color: whitesmoke;
}

#bookList {
  border-color: black;
  background-color: rgb(80, 72, 62);
  color: black;
  font: 18pt;
}