body {
  padding: 20px;
  font: 18px "Shadows Into Light", Arial, sans-serif;
  color: black;
  background-color: rgb(148, 124, 93);
}

.jumbotron {
  background-image: url(../images/thomas-kelley-128626-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 1em;
  color: whitesmoke;
}

#title {
  font-family: 'Tangerine', cursive;
  color: whitesmoke;
  float: center;
  font-size: 80pt;
}

#subtitle {
  float: center;
  font-size: 20pt;
}

.btn-primary {
  color: whitesmoke !important;
  background-color: rgba(0, 0, 0, 0.589) !important;
  border-color: rgba(0, 0, 0, 0.589) !important;
  border-radius: 8px;
  float: right;
}


#newBook {
  color: whitesmoke;
  float: center;
}

#bookList {
  border-color: black;
  background-color: rgb(80, 72, 62);
  color: black;
  font: 18pt;
  padding: 10px;
}