body {
  padding: 50px;
  font: 14px "Bookman", Times, serif;
  color: whitesmoke;
  background-color: rgb(148, 124, 93);
}

.jumbotron {
  background-image: url(../images/thomas-kelley-128626-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.btn-primary {
  color: whitesmoke !important;
  background-color: rgba(0, 0, 0, 0.589) !important;
  border-color: rgba(0, 0, 0, 0.589) !important;
}
